@model ML.Empleado
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="..Scripts/Empleado/EmpleadoCRUD.js"></script>


<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Detalle</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <h5>
                                Acción completada con éxito
                            </h5>
                        </div>
                        <div class="modal-footer">
                            @Html.ActionLink("Regresar", "GetAll", "Empleado", htmlAttributes: new { @class = "btn btn-primary  btn-lg" })
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
